$prefix: lyx-website-compcode;

.#{$prefix} {
  &- {
    &root {
      position: relative;
      background-color: wheat;
    }
    &container {
      width: 100%;
      height: 500px;
      padding: 50px 20px;
      display: flex;
      justify-content: center;
    }
  }
}
