$prefix: lyx-website-air;

.#{$prefix} {
  &- {
    &message {
      color: white;
      position: absolute;
      top: 70%;
      display: flex;
      align-items: center;
      font-size: 12px;
    }
    &header {
      position: relative;
      display: flex;
      align-items: center;
      transition: 0.7s ease-in-out;
    }

    &plane_container {
      position: relative;
      width: 30px;
      height: 30px;
      overflow: hidden;
    }

    &plane {
      width: 60px;
      height: 30px;
    }

    &rope {
      margin: 0 -6px 0 -6px;
      width: 30px;
      height: 30px;
    }

    &msg,
    &msg_ghost {
      position: relative;
      max-width: 300px;
      height: 30px;
      line-height: 30px;
      background-color: white;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: navy;
      padding: 0px 8px;
      transition: 0.7s ease-in-out;
    }

    &msg_ghost {
      margin: 0 0 0 -2px;
    }
  }
}

@keyframes fly {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}