@import url("./assets/iconfont/iconfont.css");

html {
  width: 100%;
  height: 100%;
  font-size: 100px;
}
body,
#root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  font-size: 16px;
  overflow: hidden;
  /*移动端给父元素构造3d环境，让动画稳定运行*/
  perspective: 1000;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary: rgb(89 89 89 / 99%);
}


