
$prefix: lyx-website-profilecard;

.#{$prefix}-root {
  background: var(--primary);
  width: 36px;
  height: 36px;
  position: absolute;
  left: 50%;
  top: 10%;
  z-index: 2;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;

  & > header {
    display: inline-block;
    width: 30%;
    padding-top: 5px;
    height: 100%;
    color: #000000;
    opacity: 0;
    text-align: center;
    -webkit-animation: moveIn 1s 3.1s ease forwards;
    animation: moveIn 1s 3.1s ease forwards;

    & > img {
      width: (151.2px / 2);
      height: (268.8px / 2);
      border-radius: 4px;
      transition: box-shadow 3s ease;
    }
  }
}

.#{$prefix}-line {
  color: #fff;
  width: 70%;
  padding-top: 5px;
  display: inline-block;
  vertical-align: top;
  opacity: 0;
  animation: moveUpIn 1s 3.1s ease forwards;

  &-item {
    display: flex;
    align-items: center;
    margin: 2px;
  }

  &-icons {
    display: inline-flex;
    justify-content: center;
    width: 30px;
    height: 20px;
  }

   &-icon {
    font-size: 16px;
  }

   &-icon-s {
    font-size: 14px;
  }

   &-text {
    font-size: 12px;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

   &-item:nth-child(2) {
     .#{$prefix}-line-text {
      line-height: 13px;
    }
  }
}

@keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }

  100% {
    width: 36px;
    height: 36px;
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes moveDown {
  0% {
    top: 10%;
  }

  50% {
    top: 0;
  }

  100% {
    top: 100%;
  }
}

@keyframes moveUp {
  0% {
    background: var(--primary);
    top: 100%;
  }

  50% {
    top: 10%;
  }

  100% {
    top: 120px;
    background: #E0E0E0;
  }
}

@keyframes materia {
  0% {
    background: #E0E0E0;
  }

  50% {
    border-radius: 4px;
  }

  100% {
    padding: 0 20px;
    width: calc(100% - 40px);
    height: 184px;
    background: var(--primary);
    border-radius: 4px;
    padding: 16px;
    opacity: .94;
  }
}

@keyframes moveIn {
  0% {
    margin-top: 80px;
    opacity: 0;
  }

  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes moveUpIn {
  0% {
    margin-top: -80px;
    opacity: 0;
  }

  100% {
    opacity: 1;
    margin-top: 0px;
  }
}