$prefix: lyx-website-comp;

.#{$prefix}-card {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.#{$prefix}-type {
  margin-left: 25%;
  margin-right: 10px;
}

.#{$prefix}-go {
  margin-left: 40px;
}