$prefix: lyx-website-comp;

.#{$prefix}-card {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.#{$prefix}-text {
  margin-left: 5px;
}

.#{$prefix}-type {
  margin-right: 10px;
  flex: 1;
  padding-left: 60px;
  font-size: 16px;
}

.#{$prefix}-go {
  width: 100px;
}