.skill {
  position: absolute;
  padding: 0 20px;
  top: 230px;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  &- {
    &item {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: rgba(18, 159, 194, 0.993);
      font-size: 14px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      animation: hide 4.4s ease , rotate-in-center 1s 4.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    &text {
      font-size: 8px;
    }
    &icons {
      .iconfont {
        font-size: 18px;
      }
    }
  }
}

@keyframes rotate-in-center {
  0% {
    transform: rotate(-360deg) scale(0);
    opacity: 0;
  }

  100% {
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}